<div class="xss">
<div class="dashboard-page">
	<section class="wrapper scrollable">
 
		<section class="title-bar">
			<div class="logo">
				<h1><a href="#"><img src="../../../assets/img/logo.jpg" alt="" />DSOI JABALPUR</a></h1>
			</div>
			<div class="full-screen">
			 
			</div>
			<div class="w3l_search" >
				<form action="#" method="post" id="Integerform" (submit)="onSubmit()">
					<input type="text" placeholder="Enter RFID..." [(ngModel)]="rid" name="rid" required/>
					<button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
				</form>
			</div>
	<div class="logout"><a href="#"><button class="btn btn-primary" (click)="Logmeout()">LogOut</button></a></div>
			<div class="clearfix"> </div>
		</section>
		<div class="main-grid" *ngIf="data ;else Welcome">
			<div class="agile-bottom-grids">
				<div class="col-md-8 agile-bottom-right">
					<div class="agile-bottom-grid">
						<div class="area-grids-heading">
							<h3>Member Details</h3>
						</div>
						<div class="col-md-3 member_pic"><img src="../../../assets/img/member.jpg" alt=""></div>
                        <div class="col-md-9 member_details">
                        	<label>Member Name:</label>
                        	<p>{{data.member_fname}}</p>
                            <div class="clearfix"> </div>
                            <label>DSOI Number:</label>
                        	<p>{{data.member_no}}</p>
                            <div class="clearfix"> </div>
                            <label>DSOI Rank:</label>
                        	<p>5<sup>th</sup> in club</p>
                            <div class="clearfix"> </div>
                            <label>Date of Issue:</label>
                        	<p>{{data.member_rfcardassigndate}}</p>
                            <div class="clearfix"> </div>
                            <label>Membership Fee:</label>
                        	<p>INR 50,000</p>
                            <div class="clearfix"> </div>
                            <label>Membership Type:</label>
                        	<p>Single/Family</p>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="col-md-12 btn_botsp20">
                       	 		<h2>
									<a href="#"><span class="label label-primary">Transaction History</span></a>
									<a href="#"><span class="label label-success">View Members</span></a>
								</h2>
                                
                        </div>        
                        <div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 agile-bottom-left">
					<div class="agile-bottom-grid">
						<div class="area-grids-heading">
							<h3>Account Details</h3>
							<form (submit)="Increment()" id="IncrementForm"> 
                            <table class="table table-bordered">
										<tbody>
											<tr>
												<td>Card Number</td>
												<td>{{data.member_no}}</td>
											</tr>
											<tr>
												<td>Card Balance</td>
												<td>{{data.member_balance}}</td>
											</tr>
											<tr>
												<td>Last Membership Pay</td>
												<td>INR 5,000</td>
											</tr>
											<tr>
												<td>Credit Balance</td>
												<td><input type="text" class="form-control" id="bal" [(ngModel)]="balance" name="balance" placeholder="Enter Amount" value=""></td>
											</tr>
										</tbody>
									
									</table>
									<button class="btn sub btn-primary">Submit</button>
								</form>
						</div>
					
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			
			
		</div>
		<ng-template #Welcome>
				<div class="welcome text-center" >
						<h1 class="weltext">Welcome</h1>
					</div>
		</ng-template>
		
		<!-- footer -->
		<div class="footer">
			<p>© 2018 DSOIJabalpur. All Rights Reserved.</p>
			<div class="error-message"></div>
		</div>
	
		<!-- //footer -->
	</section>

</div>
 
</div>