<br>
<section class="title-bar">
  <div class="logo">
    <h1><a href="#"><img src="../../../assets/img/logo.jpg" alt="" />DSOI JABALPUR</a></h1>
  </div>
  <div class="full-screen">
   
  </div>
  <div class="w3l_search" >
    <form action="#" method="post" id="Integerform" (submit)="onSubmit()">
      <input type="text" placeholder="Enter RFID..." [(ngModel)]="rid" name="rid" required/>
      <button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>
<div class="logout"><a href="#"><button class="btn btn-primary" (click)="Logmeout()">LogOut</button></a></div>
  <div class="clearfix"> </div>
</section>